* {
    margin: 0;
    padding: 0;
	-webkit-text-size-adjust: none !important;
	
}

html,body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
    background-image: url(../imgs/adelaidehills.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 6rem;
	
}
.clearfix:after {content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix {*zoom:1;}
.btnable {
	background-color: #2285ff !important;
	cursor: pointer;
}
.btnable1 {
	background-color: #2285ff !important;
	cursor: pointer;
}
	
.subbody {
	position: relative;
	min-height: 6.4rem;
	min-width: 10rem;
	height: 100%;
    width: 100%;
}

header {
	padding-top: 0.48rem;
	height: 1.36rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.8rem;
}

header img {
	width: 0.8rem;
	float: left;
}
.headerName {
	float: left;
	color: #fff;
	font-size: 0.32rem;
	height: 0.8rem;
	line-height: 0.8rem;
	margin-left: 0.24rem;
}

.regContainer {
	height: 4.8rem;
	width: 4.96rem;
	background-color: #f0edf1;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -2.4rem;
	margin-left: -2.48rem;
	border-radius: 0.2rem;
}

.regContainer  article {
	height: 0.72rem;
	border-bottom: 1px solid #cccccc;
	background-color: #faf9fa;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}
article div {
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	font-size: 0.224rem;
}

article .fa-times {
	position: absolute;
    right: 0.24rem;
	top: 0.24rem;
	font-size: 0.24rem;
    color: #aeaeae;
    cursor: pointer;
}
article .fa-times:hover {
	color:#187bff;
}
.samesize {
	width: 4rem;
	margin: 0 auto;
	height: 0.64rem;
	border-radius: 0.1rem;
	background-color: #fff;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.inputContainer {
	
}



.firstinput {
	position: relative;
}

.firstinput input {
	float: left;
	height: 0.64rem;
	width: 80%;
	border-radius: 0.1rem;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.176rem;
	padding-left: 0.2rem;
	color: #666;
}
.firstinput .fa-times {
	color: #ff6868;
	
}
.firstinput .fa-check {
	color: #53bd58;
}
.firstinput .fa {
	font-size: 0.24rem;
	position: absolute;
	right: 0.1rem;
	top: 0.2rem;
}


.secondinput {
	margin-top: 0.16rem;
	position: relative;
}
.secondinput input {
	float: left;
	width: 2rem;
	height: 0.64rem;
	line-height: 0.64rem;
	border-radius: 0.1rem;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.2rem;
	padding-left: 0.2rem;
	color: #666;
	font-size: 0.176rem;
}
.secondinput img {
	width: 1.04rem;
	height: 0.64rem;
	border-left: 2px solid #efefef;
	border-right: 2px solid #efefef;
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.nextpic {
	height: 0.64rem;
	line-height: 0.64rem;
	color: #2285ff;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	font-size: 0.192rem;
	right: 0;
	width: 0.96rem;
	text-align: center;
}

.samesize2 {
	width: 4rem;
	margin: 0 auto;
	height: 0.64rem;
	border-radius: 0.1rem;
	background-color: #f0edf1;
	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.thirdinput {
	margin-top: 0.16rem;
	position: relative;
}
.thirdinput .thirdcon {
	border-radius: 0.1rem;
	background-color: #fff;
	width: 2.4rem;
	height: 0.64rem;
	line-height: 0.64rem;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.2rem;
	padding-left: 0.2rem;
	color: #666;
	border: 1px solid #cccccc;
	overflow: hidden;
	position: relative;
}
.thirdinput button {
	height: 0.64rem;
	outline: none;
	border: none;
	background-color: #c7c7c7;
	border-radius: 0.1rem;
	width: 1.5rem;
	border: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	color: #fff;
	font-size: 0.176rem;
	bottom: 0;
}

.thirdinput input {
	height: 0.64rem;
	width: 80%;
	line-height: 0.64rem;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.176rem;
	color: #666;
}
.thirdcon .fa-times {
	color: #ff6868;
}

.thirdcon .fa-check {
	color: #53bd58;
}

.thirdcon .fa {
	position: absolute;
	right: 0.1rem;
	top: 0.2rem;
	font-size: 0.24rem;
}


.userinfo {
	width: 4rem;
	margin: 0 auto;
	margin-top: 0.08rem;
}	

.linkcon {
	float: left;
	font-size: 0.16rem;
	color: #acacad;
}	
.linkcon a {
	font-size: 0.16rem;
	color: #acacad;
}	
.check1 {
	cursor: pointer;
	float: left;
	height: 0.2rem;
	width: 0.2rem;
	margin-left: 0.04rem;
	margin-right: 0.04rem;
}
.check1 .fa {
	float: left;
	font-size: 0.22rem;
	vertical-align: sub;
}
.check1 .fa-check-square {
	color: #2285ff;
}
.nextstep {
	height: 0.64rem;
	width: 4rem;
	margin:  0 auto;
	display: block;
	border-radius: 0.1rem;
	outline: none;
	background-color: #c7c7c7;
	border: none;
	font-size: 0.256rem;
	color: #fff;
	margin-top: 0.2rem;
}


.errOuter {
	height: 0.4rem;
	width: 4rem;
	margin: 0 auto;
	line-height: 0.4rem;
	color:#999999;
}
.errOuter .fa {
	color:#f84e4e;
}
.errOuter>div {
	 font-size: 0.16rem;
}

footer {
	height: 1rem;
	right: 0;
	position: fixed;
	bottom: 0.16rem;
	padding-right: 0.4rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.footer2 {
	text-align: right;
	color: #fff;
	font-size: 0.16rem;
	margin-top: 0.16rem;
}
.footer1 {
	text-align: right;
	color: #fff;
	font-size: 0.16rem;
	margin-right: 0.07rem;
	
}
footer a {
	text-decoration: none;
	color: #fff;
}
footer a span{
	font-size: 0.2rem;
}
footer .fa {
	font-size: 0.4rem;
	vertical-align:sub;
}
.floatright {
    color: #fff;
    position: fixed;
    right: 0.16rem;
	bottom: 0.16rem;
}
.floatright div:first-child{
	margin-bottom: 0.08rem;
}
.floatright div:hover {
    color: #bfe3ae;
}
.floatright a {
    color: #fff;
    text-decoration: none;
}
a:hover {
	color:#187bff;
}
