* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
    background-image: url(../imgs/adelaidehills.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 6rem;
}
.clearfix {
	clear: both;
}
.btnable {
	background-color: #2285ff !important;
	cursor: pointer;
}

	
.subbody {
	position: relative;
    min-height: 6.4rem;
	min-width: 10rem;
	height: 100%;
    width: 100%;
}

header {
	padding-top: 0.48rem;
	height: 1.36rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.8rem;
}

header img {
	width: 0.8rem;
	float: left;
}
.headerName {
	float: left;
	color: #fff;
	font-size: 0.32rem;
	height: 0.8rem;
	line-height: 0.8rem;
	margin-left: 0.24rem;
}

.setNick {
	height: 4.8rem;
	width: 4.96rem;
	background-color: #f0edf1;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -2.4rem;
	margin-left: -2.48rem;
	border-radius: 0.2rem;
}

.setNick  article {
	height: 0.72rem;
	border-bottom: 0.01rem solid #cccccc;
	background-color: #f0edf1;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}
article div {
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	font-size: 0.224rem;
}

article .fa-times {
	position: absolute;
    right: 0.24rem;
    top: 0.24rem;
    font-size: 0.24rem;
    color: #aeaeae;
    cursor: pointer;
}
article .fa-times:hover {
	color:#187bff;
}
.samesize {
	width: 4rem;
	margin: 0 auto;
	height: 0.64rem;
	border-radius: 0.1rem;
	background-color: #fff;
	border: 0.01rem solid #cccccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.inputContainer {
	
}


.firstinput {
	position: relative;
}

.firstinput input {
	height: 0.64rem;
	width: 80%;
	border-radius: 0.1rem;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.176rem;
	padding-left: 0.2rem;
	color: #666;
}
.firstinput .fa-times {
	color: #ff6868;
	
}
.firstinput .fa-check {
	color: #53bd58;
}
.firstinput .fa {
	font-size: 0.24rem;
	position: absolute;
	right: 0.1rem;
	top: 0.2rem;
}
.secondinput {
	position: relative;
	margin-top: 0.16rem;
}

.secondinput input {
	height: 0.64rem;
	width: 80%;
	border-radius: 0.1rem;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.176rem;
	padding-left: 0.2rem;
	color: #666;
}
.secondinput .fa-times {
	color: #ff6868;
	
}
.secondinput .fa-check {
	color: #53bd58;
}
.secondinput .fa {
	font-size: 0.24rem;
	position: absolute;
	right: 0.1rem;
	top: 0.2rem;
}

.placeholder2 {
	height: 0.56rem;
	width: 4rem;
	margin: 0 auto;
	line-height: 0.16rem;
	padding-left: 0.1rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.aouter1 {
	text-decoration: none;
	color: #666;
	font-size: 0.2rem;
}
.aouter1:hover {
	color: #2285ff;
}

.head1 {
	width: 49%;
	display: block;
	float:left;
	border-top-left-radius: 0.2rem!important;
	cursor: pointer;
}
.head2 {
	width: 2.48rem;
	float:left;
	display: block;
	border-top-right-radius: 0.2rem!important;
	cursor: pointer;
}

.headeractive {
	color: #2285ff;
	background-color: #fff;
}



.placeholder3 {
	height: 0.56rem;
	width: 4rem;
	margin: 0 auto;
	line-height: 0.56rem;
	padding-left: 0.1rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}





.nextstep {
	height: 0.64rem;
	width: 4rem;
	margin:  0 auto;
	display: block;
	border-radius: 0.1rem;
	outline: none;
	background-color: #c7c7c7;
	border: none;
	font-size: 0.256rem;
	color: #fff;
}



.errOuter {
	height: 0.528rem;
	width: 4rem;
	margin: 0 auto;
	line-height: 0.4rem;
	color:#999999;
}
.twodimention {
	height: 2rem;
	width: 2rem;
	margin: 0 auto;
	margin-top: 0.56rem;
	margin-bottom: 0.56rem;
}
.twodimention img{
	height: 2rem;
	width: 2rem;
}
.please {
	margin: 0 auto;
	text-align: center;
	color: #666;
	font-size: 0.176rem;
	margin-bottom: 0.24rem;
}
.bot1 {
	text-align: center;
}
.bot1 a {
	color: #666;
	text-decoration: none;
}
.bot1 a:hover {
	color: #2285ff;
}

footer {
	height: 1rem;
	width: 100%;
	position: fixed;
	bottom: 0.16rem;
	padding-right: 0.4rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.footer2 {
	text-align: right;
	color: #fff;
	font-size: 0.16rem;
	margin-top: 0.16rem;
}
.footer1 {
	text-align: right;
	color: #fff;
	font-size: 0.16rem;
	margin-right: 0.07rem;
	
}
footer a {
	text-decoration: none;
	color: #fff;
}
footer a span{
	font-size: 0.20rem;
}
footer .fa {
	font-size: 0.40rem;
	vertical-align:sub;
}
.floatright {
    color: #fff;
    position: fixed;
    right: 0.16rem;
    bottom: 0.16rem;
}
.floatright div:first-child{
	margin-bottom: 0.08rem;
}
.floatright div:hover {
    color: #bfe3ae;
}
.floatright a {
    color: #fff;
    text-decoration: none;
}
a:hover {
	color:#187bff;
}


