* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
    background-image: url(../imgs/adelaidehills.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}
.clearfix {
	clear: both;
}
.shenglue {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fa-venus {
	color: #f047de;
}
.fa-mars {
	color: #2285ff;
}
.allalertinfo {
	width: 570px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -285px;
	margin-top: -100px;
	background-color: #fff;
	z-index: 100;
}	
.allalertinfo .fa-times-circle-o {
	color:#868686;
	float: right;
	margin-right: 20px;
	font-size: 30px;
	cursor: pointer;
	margin-top: 10px;
}
.allalertinfo .fa-times-circle-o:hover {
	color:#1a7dff;
}
.allalertinfo .alertcontent {
	height: 120px;
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #efefef;
	margin-top: 30px;
	line-height: 120px;
	color: #666;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.allalertinfo .bottomenter {
	height: 50px;
	width: 90%;
	margin: 0 auto;
}
.allalertinfo .bottomenter .enterss {
	margin-top: 10px;
	float: right;
	height: 30px;
	width: 100px;
	line-height: 30px;
	text-align: center;
	color: #666;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #efefef;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
.allalertinfo .bottomenter .enterss:hover {
	background-color: #1a7dff;
	color: #fff;
}

/*全局样式*/
#messagemaster {
	margin: 0 auto;
	width: calc( 100% - 520px );
	min-height: 650px;
	height: 100%;
	min-width: 1100px;
	background-color: #fff;
}
.login {
	z-index: -10;
}
.mainleft {
	width: 420px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	float: left;
	background-color: #e4eaf4;
}
.mainright {
	width: calc( 100% - 420px );
	min-width: 680px;
	height: 100%;
	float: left;
}
.current {
	height: 240px;
	width: 420px;
	position: absolute;
	top: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #e4eaf4;
}
.currentinner {
	width: 360px;
	height: 180px;
	margin: 30px auto;
	
}
.firstline {
	height: 60px;
	width: 100%;
	position: relative;
}



/*当前用户信息框*/
.currentinfo {
	height: 405px;
	width: 270px;
	border-radius: 10px;
	background-color: #fff;
	position: absolute;
	z-index: 10;
	overflow: hidden;
	-webkit-box-shadow: 5px 5px 3px #eecefe;
	box-shadow: 5px 5px 3px #eecefe;
}

.currentpiccontainer {
	width: 270px;
	height: 270px;
}
.nameandgender {
	font-size: 22px;
	color: #333;
	position: relative;
	margin-top: 5px;
	margin-left: 20px;
	width: 240px;
}
.nameandgender .fa-venus {
	position: absolute;
	margin-left: 5px;
	vertical-align: sub;
	top: 4px;
	
}
.cardarea {
	color: #999;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 5px;
}
.cardsignature {
	width: 230px;
	margin: 0 auto;
	margin-top: 5px;
	color: #999;
}
.nameandgender .fa-mars {
	position: absolute;
	margin-left: 5px;
	vertical-align: sub;
	top: 4px;
}

/*当前用户信息框*/

.firsttimeimg {
	width: 60px;
	display: inline-block;
	height: 60px;
}
.currentname {
	height: 60px;
	width: 200px;
	display: inline-block;
	line-height: 60px;
	font-size: 28px;
	color: #333;
	margin-left: 25px;
}
.firstline .fa-bars {
	font-size: 28px;
	color: #b0b2b5;
	position: absolute;
	right: 20px;
	top: 16px;
	cursor: pointer;
}
.firstline .fa-bars:hover {
	color: #1a7dff;
}
.secondline {
	margin-top: 20px;
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
	position: relative;
}
.secondline input {
	height: 40px;
	width: 320px;
	line-height: 40px;
	background: #f8f8f8;
	border: none;
	outline: none;
	padding-left: 14px;
	color: #999;
	font-size: 22px;
}
.secondline .fa-search {
	font-size: 22px;
	position: absolute;
	right: 10px;
	top:9px;
	color: #b0b2b5;
	cursor: pointer;
}
.secondline .fa-search:hover {
	color: #1a7dff;
}
.searchslidedown {
	min-height: 450px;
	height: 450px;
	width: 100%;
	z-index: 20;
	background-color: #fff;
	position: absolute;
	overflow-y: scroll;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.search1-enter {
	opacity: 0;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
}
.search1-enter-active {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.search1-enter-to {
	opacity: 1;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.search1-leave {
	opacity: 1;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.search1-leave-active {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.search1-leave-to {
	opacity: 0;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
}
.slidebars {
	height: 195px;
	width: 200px;
	position: relative;
	background-color: #fff;
	left: 170px;
	border-radius: 10px;
	z-index: 21;
}
.slidebars:after {
	height: 0;
	width: 0;
	position: absolute;
	content: "";
	border: 10px solid transparent;
	right: 33px;
	top: -20px;
	border-bottom-color: #fff;
}
.lis {
	height: 65px;
	width: 100%;
	cursor: pointer;
}
.feedbackmenu {
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.lis span {
	color:#999;
	line-height: 65px;
	font-size: 18px;
	display: inline-block;
	letter-spacing: 3px;
	width: 90px;
}
.lis span:last-child {
	text-align: center;
	
}
.lis .fa {
	font-size: 30px;
	margin-left: 30px;
	margin-right: 15px;
	vertical-align: sub;
}
.lis:hover {
	color: #1a7dff;
}
.lis span:hover {
	color: #1a7dff;
}
.exit:hover {
	color:#f93634;
} 
.exit span:hover {
	color:#f93634;
}
/*弹出反馈*/
.transfeedback {
	height: 100%;
	width: 100%;
	background-color: rgba(163,163,163,0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2000;
}
.feedbackpop {
	height: 550px;
	position: absolute;
	width: 604px;
	left: 50%;
	top:50%;
	margin-left: -302px;
	margin-top: -275px;
	background-color: #f7f7f7;
	border-radius: 20px;
}
.feedhead {
	height: 80px;
	width: 100%;
	line-height: 80px;
	font-size: 26px;
	color: #333;
	position: relative;
	background-color: #e4eaf4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.feedhead .fa {
	position: absolute;
	right: 70px;
	top: 25px;
	color: #999;
	cursor: pointer;
	font-size: 30px;
}
.feedhead .fa:hover {
	color: #2285ff;
}
.feedbackcore {
	width: 524px;
	height: 275px;
	display: inline-block;
	border-radius: 20px;
	border: 1px solid #ccc;
	margin-left: 40px;
	margin-top: 40px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
	color: #333;
	outline: none;
	font-family: "Microsoft Yahei";
	resize: none;
}
.feedbackpop button {
	width: 484px;
	height: 60px;
	line-height: 60px;
	background-color: #2285ff;
	color: #fff;
	text-align: center;
	border: none;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 26px;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
}
/*弹出反馈*/

/*发起聊天*/
.transreadychat {
	height: 100%;
	width: 100%;
	background-color: rgba(163,163,163,0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2000;
}
.readychatpop {
	height: 600px;
	width: 604px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -302px;
	margin-top: -300px;
	background-color: #fff;
	border-radius: 20px;
	
}
.readychathead {
	height: 80px;
	width: 100%;
	line-height: 80px;
	font-size: 26px;
	color: #333;
	position: relative;
	background-color: #e4eaf4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.readychathead .fa {
	position: absolute;
	right: 70px;
	top: 25px;
	color: #999;
	cursor: pointer;
	font-size: 30px;
}
.readychathead .fa:hover {
	color: #2285ff;
}
.switchchat {
	width: 100%;
	height: 80px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.switchchat .selectfriends {
	width: 302px;
	border-bottom: 1px solid #e5e5e5;
	height: 80px;
	text-align: center;
	line-height: 80px;
	float: left;
	font-size: 24px;
	color: #666;
	cursor: pointer;
	border-right: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.switchchat .selectchatrooms {
	width: 302px;
	border-bottom: 1px solid #e5e5e5;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 24px;
	color: #666;
	cursor: pointer;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.switchchat .selects {
	color: #1a7dff;
	border-bottom-color: #1a7dff;
}
.switchcontainerboss {
	height: 440px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
.sel1con {
	height: 280px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
}
.sel2con {
	height: 280px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
	overflow-y: scroll;
}
.selectallboss {
	height: 40px;
	width: 100%;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.selectallboss span {
	display: inline-block;
	height: 40px;
	width: auto;
	position: absolute;
	top: 0;
	color: #666;
	font-size: 20px;
	font-family: 'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
}
.selectallcon {
	height: 40px;
	width: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 40px;
	display: inline-block;
	position: relative;
}
.selectallcon input {
	width: 26px;
	height: 40px;
	position: absolute;
	left: 0;
	opacity: 1;
}
.selectallcon img {
	margin: 0 auto;
	margin-top: 7px;
}
.getfriendscontainer {
	height: 240px;
	width: 100%;
	overflow-y: scroll;
}
.beginchatbtn {
	height: 60px;
	width: 484px;
	background-color: #ccc;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 26px;
	text-align: center;
	margin-left: 60px;
	margin-top: 50px;
	cursor: pointer;
}
.friendseveryOne {
	width: 100%;
	height: 90px;
	padding-left: 40px;
	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
.selectOnly1 {
	height: 100%;
	width: 26px;
	position: relative;
}
.selectOnly1 .under1{
	position: absolute;
	top: 32px;
	opacity: 0;
}
.selectOnly1 .under2{
	position: absolute;
	top: 32px;
	opacity: 0;
}
.selectOnly1 input{
	position: absolute;
	top: 32px;
	width: 26px;
	height: 26px;
	
	
}
.btncolorswitch {
	background-color: #2285ff;
	
}
.friendsimg {
	width: 70px;
	height: 70px;
	left: 90px;
	position: absolute;
	bottom: 10px;
}
.sel1con .sort_box input {
	opacity: 1;
}
.startgrouprightcon {
	height: 90px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.startrightimgcon {
	margin-left: 60px;
	height: 70px;
	width: 70px;
	padding-top: 10px;
	overflow: hidden;
}
.startrightimgcon img {
	width: 70px;
	height: 70px;
}
.groupnameright {
	width: 70%;
	position: absolute;
	height: 90px;
	line-height: 90px;
	font-size: 20px;
	color: #666;
	top: 0;
	left: 150px;
}
/*发起聊天*/

/*主搜索框*/
.serach1friendtitle {
	height: 40px;
	width: 100%;
	line-height: 40px;
	position: relative;
}
.searchfriendtitlewords {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	width: 70px;
	color: #333;
	padding-left: 20px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 6;
}
.searchhr {
	height: 20px;
	width: 280px;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 4;
}
.searchfriendcon {
	height: 70px;
	width: 100%;
	position: relative;
	cursor: pointer;
}
.searchfriendcon img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
}
.searchfriendcon div {
	width: 60%;
	height:70px;
	line-height: 70px;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 0;
	margin-left: 20px;
}
.serach1grouptitle {
	height: 40px;
	width: 100%;
	line-height: 40px;
	position: relative;
}
.searchgrouptitlewords {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	width: 70px;
	color: #333;
	padding-left: 20px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 5;
}
.searchgroupcon {
	height: 70px;
	width: 100%;
	position: relative;
	cursor: pointer;
}
.searchgroupcon img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
}
.searchgroupcon div {
	width: 60%;
	height:70px;
	line-height: 70px;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 0;
	margin-left: 20px;
}
.unsearchgroups {
	width: 100%;
	padding-bottom: 30px;
}
.noresult {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #666;
}
.searchresultgroups {
	width: 100%;
}
.searchresultgroups .innercon {
	height: 70px;
	width: 100%;
	position: relative;
}
.searchresultgroups .innercon img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
}
.searchresultgroups .innercon div {
	width: 60%;
	height:70px;
	line-height: 70px;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 0;
	margin-left: 20px;
}
.searchresultfriends {
	width: 100%;
}
.searchresultfriends .innercon {
	height: 70px;
	width: 100%;
	position: relative;
}
.searchresultfriends .innercon img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
}
.searchresultfriends .innercon div {
	width: 60%;
	height:70px;
	line-height: 70px;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 0;
	margin-left: 20px;
}

/*主搜索框*/


/*切换3个icon*/
.blueactive {
	color: #1a7dff !important;
}
.thirdline {
	
	height: 40px;
	margin-top: 30px;
	font-size: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.thirdflow {
	width: 33.3333%;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.thirdflowcenter {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.thirdflow .fa {
	color: #9c9c9c;
}
.thirdflow .fa:hover {
	color: #1a7dff;
	cursor: pointer;
}
/*切换3个icon*/



/*动态组件3条列表容器*/
.threepiecelists {
	height:calc( 100% - 240px );
	width: 420px;
	position: absolute;
	top: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*第三个列表*/
.listThree_groupheader {
	height: 50px;
	width: 420px;
	font-size: 20px;
	color: #999;
	background-color: #fff;
	line-height: 50px;
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}	
.listThree_groupcon {
	height: 110px;
	width: 420px;
	position: relative;
}
.listThree_groupcon img {
	width: 70px;
	margin-top: 20px;
	margin-left: 30px;
}
.listThree_groupcon .name {
	width: 250px;
	height: 110px;
	line-height: 110px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	font-size: 24px;
	color: #333;
	top: 0;
}




.sort_list1 {
	height: 110px;
	width: 420px;
	position: relative;
}
.sort_list1 img {
	margin-top: 20px;
	margin-left: 30px;
	width: 70px;
}
.num_name1 {
	width: 250px;
	height: 110px;
	font-size: 24px;
	color: #333;
	line-height: 110px;
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	top: 0;
}
.sort_letter1 {
	height: 50px;
	width: 420px;
	font-size: 20px;
	color: #999;
	background-color: #fff;
	line-height: 50px;
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.backgroundcolor {
	background-color: #f8f8f8;
}
	
	
/*第三个列表*/

/*第一个列表*/
.comlistcomOne {
	width: 100%;
	
}
.comlist1 {
	width: 100%;
}
.nomessage {
	text-align: center;
	font-size: 24px;
	color: #999;
}

.listOnecon {
	width: 420px;
	height: 110px;
	position: relative;
	
}
.listOnecon img {
	width: 70px;
	height: 70px;
	margin-top: 20px;
	margin-left: 20px;
	
	display: inline-block;
}
.listOnecon .circle {
	position: absolute;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: #ff3b30;
	top: 10px;
	left: 80px;
	color: #fff;
	font-size: 13px;
	text-align: center;
	line-height: 18px;
}
.listOnecon .transparentone {
	position: absolute;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: transparent;
	top: 10px;
	left: 80px;
	color: #fff;
	font-size: 13px;
	text-align: center;
	line-height: 18px;
}

.listOnedetails {
	height: 70px;
	width: 290px;
	
	display: inline-block;
	margin-left: 18px;
}
.listOneconleft {
	width: 240px;
	float: left;
	height: 100%;
	
	position: relative;
}
.listOnetopleft {
	font-size: 24px;
	color: #333;
	position: absolute;
	top: 0;
	width: 100%;
}
.listOnebottomleft {
	font-size: 20px;
	color: #999;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.listOnebottomleft span {
	font-size: 20px;
	color: #ff3b30;
	
} 



.listOneconright {
	width: 50px;
	float: left;
	height: 100%;
	position: relative;
}	
.listOnetopright {
	font-size: 20px;
	color: #999;
	position: absolute;
	top: 0;	
}
.listOnebottomright {
	color: #999;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 20px;
	cursor: pointer;
}


/*第一个列表*/
/*第二个列表*/
.chatroom {
	
}
.chatroomheader {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
.chatroomarea {
	width: 380px;
	margin-left: 20px;
	margin-bottom: 20px;
	height: 26px;
	overflow: hidden;
	
}
.chatroomtrade {
	width: 380px;
	margin-left: 20px;
	height: 26px;
	overflow: hidden;
}
.chatroomsame {
	cursor: pointer;
	height: auto;
	font-size: 20px;
	display: inline-block;
	color: #333;
	background-color: #fff;
	margin-right: 20px;
	
}
.chatroomouter {
	height: 110px;
	width: 420px;
	background-color: #e4eaf4;
	overflow: hidden;
}
.chatroomwrapper {
	width: 380px;
	height: 70px;
	margin-top: 20px;
	margin-left: 20px;
	
	
}

/*第二个列表*/
/*动态组件3条列表容器*/


/*右边展示群组信息*/

.rightgroupcon {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.rightgroupcon img {
	margin: 0 auto;
	margin-top: 20%;
	width: 150px;
	height: 150px;
	margin-bottom: 50px;
	display: block;
	border-radius: 10px;
}
.rightgroupcon p {
	margin: 0 auto;
	text-align: center;
	font-size: 32px;
	color: #333;
}
.rightgroupcon span {
	
	font-size: 24px;
	color: #333;
}
.rightgroupcon button {
	margin: 0 auto;
	background-color: #187bff;
	height: 60px;
	width: 300px;
	border: none;
	display: block;
	color: #f8f8f8;
	border-radius: 10px;
	font-size: 26px;
	line-height: 60px;
	text-align: center;
	margin-top: 110px;
	cursor: pointer;
}
.rightfriendcon {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.rightfriendcon button {
	margin: 0 auto;
	background-color: #187bff;
	height: 60px;
	width: 300px;
	border: none;
	display: block;
	color: #f8f8f8;
	border-radius: 10px;
	font-size: 26px;
	line-height: 60px;
	text-align: center;
	margin-top: 50px;
	cursor: pointer;
}
.rightfriendcon img {
	margin: 0 auto;
	margin-top: 15%;
	width: 150px;
	height: 150px;
	margin-bottom: 50px;
	display: block;
	border-radius: 10px;
}
.rightfriendcon .name {
	margin: 0 auto;
	text-align: center;
	font-size: 32px;
	color: #333;
}
.rightfriendcon .sign {
	font-size: 20px;
	color: #666;
	text-align: center;
	margin-top: 20px;
}
.rightfriendcon .addon {
	font-size: 20px;
	color: #666;
	text-align: center;
	margin-top: 50px;
}
.rightfriendcon .area {
	font-size: 20px;
	color: #666;
	text-align: center;
	margin-top: 10px;
}




/*右边展示群组信息*/

/*右边聊天室*/

.placeholder2 {
	margin-top: 300px;
}
.placeholder2 .imgcon {
	
	text-align: center;
	
}
.placeholder2 .name {
	text-align: center;
	margin-top: 80px;
	color: #333;
	font-size: 32px;
}


/*右边聊天室*/




/*右边聊天界面*/
.hidden {
	display: none;
}



.rightcomOne {
	background-color: #f8f8f8;
	position: relative;
	width: 100%;
	height: 100%;
}
.subrightcomone {
	height: 100%;
}
.slidemembersmenu {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #efefef;
	padding-top: 50px;
	margin: 0 auto;
	z-index: 110;
	position: absolute;
}
.slidemembersmenu .fa-times {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 25px;
	color: #717171;
	cursor: pointer;
}
.slidemembersmenu .fa-times:hover {
	color: #1a7dff;
}
.addcontain {
	display: inline-block;
	height: 70px;
	margin-right: 50px;
	width: 70px;
	cursor: pointer;
}
.addcontain img {
	height: 70px;
	width: 70px;
}
.reducecontain img {
	height: 70px;
	width: 70px;
}
.reducecontain {
	display: inline-block;
	height: 70px;
	width: 70px;
	margin-right: 50px;
	cursor: pointer;
}
.pluscontainer {
	display: inline-block;
	position: absolute;
}
.everypeoplecon2 {
	width: 70px;
	height: 110px;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}
.everypeoplecon2 img{
	width: 70px;
	height: 70px;
}
.everypeoplecon2 .namecon2 {
	width: 70px;
	height: 40px;
	color: #999;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}








.membermenucontainer {
	width: 90%;
	margin: 0 auto;
	max-height: 300px;
	position: relative;
}

.rightonechatcon {
	position: absolute;
	height: calc( 100% - 350px );
	width: 100%;
}
.manywindowcon {
	height: 100%;
	width: 100%;
}
.rightoneheader {
	height: 110px;
	width: 100%;
	border-bottom: 1px solid #efefef;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.rightonetitle {
	height: 110px;
	line-height: 110px;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-size: 28px;
	color: #333;
}
.rightoneheader .fa-cog {
	font-size: 28px;
	position: absolute;
	right: 60px;
	top: 41px;
	cursor: pointer;
	color: #9b9b9b;
}
.rightoneheader .fa-plus {
	font-size: 28px;
	position: absolute;
	right: 60px;
	top: 41px;
	cursor: pointer;
	color: #9b9b9b;
}
.rightoneheader .fa-cog:hover {
	color: #1a7dff;
}
.rightoneheader .fa-plus:hover {
	color: #1a7dff;
}
.rightonemenu {
	position: absolute;
	height: 195px;
	width: 200px;
	right: 90px;
	top: 50px;
	background-color: #fff;
	z-index: 300;
}
.rightonelists {
	height: 65px;
	width: 100%;
	line-height: 65px;
	font-size: 18px;
	color: #999;
	text-align: center;
	cursor: pointer;
}
.rightonelists:hover {
	color: #1a7dff;
}
.rightonelist2 {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.rightonesend {
	background-color: #fff;
	width: 100%;
	height: 246px;
	border-bottom: 1px solid #efefef;
	position: absolute;
	bottom: 0;
}
.rightonesendselect {
	padding-top: 24px;
	
	padding-left: 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.rightonesendselect .fa {
	font-size: 24px;
	color: #808080;
	cursor: pointer;
}
.rightonesendselect .fa:hover {
	color: #1a7dff;
}
.rightonesendselect .fa-picture-o {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
.rightonesendselect .fa-picture-o input {
	position: absolute;
	left: 0;
	height: 23px;
	width: 23px;
	opacity: 0;
}
.rightonesendselect .fa-folder {
	position: relative;
}
.rightonesendselect .fa-folder input {
	position: absolute;
	left: 0;
	height: 23px;
	width: 23px;
	opacity: 0;
}


.rightonesend textarea {
	width: 90%;
	height: 100px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	resize: none;
	border: none;
	font-size: 23px;
	color: #333;
	font-family: 'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
}
.rightonesend button {
	background-color: #00a0e9;
	width: 116px;
	line-height: 44px;
	height: 44px;
	font-size: 26px;
	text-align: center;
	border: none;
	color: #fff;
	position: absolute;
	right: 60px;
	bottom: 15px;
}
.groupid {
	
}

.msgconmaster {
	width: 100%;
	
}
.msgmasterinner {
	width: 100%;
	
	height: auto;
}
.msgcontainer {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.msgmarginlr {
	width: 90%;
	margin:  0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
.msgmarginlr .leftmsg {
	max-width: 70%;
	
}
.msgmarginlr .leftmsg  .rightcon {
	float: left;
	margin-left: 20px;
	max-width: 80%;
}
.msgmarginlr .leftmsg  .name {
	font-size: 22px;
	color: #999;
	padding-left: 10px;
	margin-bottom: 10px;
}
.msgmarginlr  .leftmsg   .imgcontainer {
	width: 60px;
	height: 80px;
	float: left;
	
}
.msgmarginlr .leftmsg   .imgcontainer img {
	height: 60px;
	width: 60px;
	border-radius: 5px;
}
.msgmarginlr .leftmsg .wordscontent span{
	background-color: #00a0e9;
	padding: 15px;
	font-size: 22px;
	color: #fff;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
}
.msgmarginlr .leftmsg .wordscontent span:after{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right-color: #00a0e9;
	left: -20px;
	top: 20px;
}

.msgmarginlr .rightmsg {
	max-width: 100%;
}
.rightmaxwidth {
	max-width: 70%;
	float: right;
}
.msgmarginlr .rightmsg  .rightcon {
	float: right;
	margin-left: 20px;
	max-width: 80%;
}
.msgmarginlr .rightmsg  .name {
	font-size: 22px;
	color: #999;
	padding-left: 10px;
	margin-bottom: 10px;
}
.msgmarginlr .rightmsg .imgcontainer {
	width: 60px;
	height: 80px;
	float: right;
	
}
.msgmarginlr .rightmsg .imgcontainer img {
	height: 60px;
	width: 60px;
	border-radius: 5px;
}
.msgmarginlr .rightmsg  .wordscontent {
	margin-right: 20px;
}
.msgmarginlr .rightmsg  .wordscontent span{
	background-color: #00a0e9;
	padding: 15px;
	font-size: 22px;
	color: #fff;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
}
.msgmarginlr .rightmsg  .wordscontent span:after{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-left-color: #00a0e9;
	right: -20px;
	top: 20px;
}

/*右边聊天界面*/


/*弹出向群组添加好友界面*/
.addmyfriends {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(163,163,163,0.5);
	bottom: 0;
	left: 0;
	z-index: 500;
}
.addmyfriendscore {
	height: 600px;
	width: 604px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -302px;
	margin-top: -300px;
	background-color: #fff;
	border-radius: 20px;
}
.addmyfriends .bottombtn {
	height: 60px;
	width: 484px;
	background-color: #ccc;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 26px;
	text-align: center;
	margin-left: 60px;
	margin-top: 50px;
	cursor: pointer;
	position: absolute;
	bottom: 50px;
}
.addmyfriendscore .reusecontainer2 {
	height: 360px;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	
}
.addsort3 {
	width: 100%;
	height: 320px;
}
.sort_list2 {
	height: 90px;
	width: 604px;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.sort_list2 img {
	margin-top: 10px;
	margin-left: 0;
	width: 70px;
}
.num_name2 {
	width: 250px;
	height: 90px;
	font-size: 24px;
	color: #333;
	line-height: 90px;
	margin-left: 140px;
	display: inline-block;
	position: absolute;
	top: 0;
}
.sort_letter2 {
	height: 50px;
	width: 604px;
	font-size: 20px;
	color: #999;
	background-color: #fff;
	line-height: 50px;
	padding-left: 45px;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*弹出向群组添加好友界面*/

/*弹出移除群组成员界面*/
.removegroupmember2 {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(163,163,163,0.5);
	bottom: 0;
	left: 0;
	z-index: 500;
}
.removegroupmember2core {
	height: 600px;
	width: 604px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -302px;
	margin-top: -300px;
	background-color: #fff;
	border-radius: 20px;
}
.removegroupmember2core .bottombtn {
	height: 60px;
	width: 484px;
	background-color: #ccc;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 26px;
	text-align: center;
	margin-left: 60px;
	margin-top: 50px;
	cursor: pointer;
	position: absolute;
	bottom: 50px;

}
.removegroupmember2core .reusecontainer3 {
	height: 360px;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	
}
.addsort4 {
	width: 100%;
	height: 320px;
}
.sort_list3 {
	height: 90px;
	width: 604px;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.sort_list3 img {
	margin-top: 10px;
	margin-left: 0;
	width: 70px;
}
.num_name3 {
	width: 250px;
	height: 90px;
	font-size: 24px;
	color: #333;
	line-height: 90px;
	margin-left: 140px;
	display: inline-block;
	position: absolute;
	top: 0;
}
.sort_letter3 {
	height: 50px;
	width: 604px;
	font-size: 20px;
	color: #999;
	background-color: #fff;
	line-height: 50px;
	padding-left: 45px;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*弹出移除群组成员界面*/