* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
    background-image: url(../imgs/adelaidehills.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}
.clearfix {
	clear: both;
}
.shenglue {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fa-venus {
	color: #f047de;
}
.fa-mars {
	color: #2285ff;
}
	



/*全局样式*/
#messagemaster {
	margin: 0 auto;
	width: calc( 100% - 520px );
	min-height: 650px;
	height: 100%;
	min-width: 1100px;
	background-color: #fff;
}
.login {
	z-index: -10;
}
.mainleft {
	width: 420px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	float: left;
	background-color: #e4eaf4;
}
.mainright {
	width: calc( 100% - 420px );
	min-width: 680px;
	height: 100%;
	float: left;
}
.current {
	height: 240px;
	width: 420px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #e4eaf4;
}
.currentinner {
	width: 360px;
	height: 180px;
	margin: 30px auto;
	
}
.firstline {
	height: 60px;
	width: 100%;
	position: relative;
}



/*当前用户信息框*/
.currentinfo {
	height: 405px;
	width: 270px;
	border-radius: 10px;
	background-color: #fff;
	position: absolute;
	z-index: 10;
	overflow: hidden;
	-webkit-box-shadow: 5px 5px 3px #eecefe;
	box-shadow: 5px 5px 3px #eecefe;
}

.currentpiccontainer {
	width: 270px;
}
.nameandgender {
	font-size: 22px;
	color: #333;
	position: relative;
	margin-top: 5px;
	margin-left: 20px;
	width: 240px;
}
.nameandgender .fa-venus {
	position: absolute;
	margin-left: 5px;
	vertical-align: sub;
	top: 4px;
	
}
.cardarea {
	color: #999;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 5px;
}
.cardsignature {
	width: 230px;
	margin: 0 auto;
	margin-top: 5px;
	color: #999;
}
.nameandgender .fa-mars {
	position: absolute;
	margin-left: 5px;
	vertical-align: sub;
	top: 4px;
}

/*当前用户信息框*/

.firsttimeimg {
	width: 60px;
	display: inline-block;
	height: 60px;
}
.currentname {
	height: 60px;
	width: 200px;
	display: inline-block;
	line-height: 60px;
	font-size: 28px;
	color: #333;
	margin-left: 25px;
}
.firstline .fa-bars {
	font-size: 28px;
	color: #b0b2b5;
	position: absolute;
	right: 20px;
	top: 16px;
	cursor: pointer;
}
.firstline .fa-bars:hover {
	color: #1a7dff;
}
.secondline {
	margin-top: 20px;
	width: 100%;
	height: 40px;
	background-color: #f8f8f8;
	position: relative;
}
.secondline input {
	height: 40px;
	width: 320px;
	line-height: 40px;
	background: #f8f8f8;
	border: none;
	outline: none;
	padding-left: 14px;
	color: #999;
	font-size: 22px;
}
.secondline .fa-search {
	font-size: 22px;
	position: absolute;
	right: 10px;
	top:9px;
	color: #b0b2b5;
	cursor: pointer;
}
.secondline .fa-search:hover {
	color: #1a7dff;
}
.searchslidedown {
	min-height: 450px;
	height: 450px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.search1-enter {
	opacity: 0;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
}
.search1-enter-active {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.search1-enter-to {
	opacity: 1;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.search1-leave {
	opacity: 1;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.search1-leave-active {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.search1-leave-to {
	opacity: 0;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
}
.slidebars {
	height: 195px;
	width: 200px;
	position: relative;
	background-color: #fff;
	left: 170px;
	border-radius: 10px;
	z-index: 5;
}
.slidebars:after {
	height: 0;
	width: 0;
	position: absolute;
	content: "";
	border: 10px solid transparent;
	right: 33px;
	top: -20px;
	border-bottom-color: #fff;
}
.lis {
	height: 65px;
	width: 100%;
	cursor: pointer;
}
.feedbackmenu {
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.lis span {
	color:#999;
	line-height: 65px;
	font-size: 18px;
	display: inline-block;
	letter-spacing: 3px;
	width: 90px;
}
.lis span:last-child {
	text-align: center;
	
}
.lis .fa {
	font-size: 30px;
	margin-left: 30px;
	margin-right: 15px;
	vertical-align: sub;
}
.lis:hover {
	color: #1a7dff;
}
.lis span:hover {
	color: #1a7dff;
}
.exit:hover {
	color:#f93634;
} 
.exit span:hover {
	color:#f93634;
}
/*弹出反馈*/
.transfeedback {
	height: 100%;
	width: 100%;
	background-color: rgba(163,163,163,0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2000;
}
.feedbackpop {
	height: 550px;
	position: absolute;
	width: 604px;
	left: 50%;
	top:50%;
	margin-left: -302px;
	margin-top: -275px;
	background-color: #f7f7f7;
	border-radius: 20px;
}
.feedhead {
	height: 80px;
	width: 100%;
	line-height: 80px;
	font-size: 26px;
	color: #333;
	position: relative;
	background-color: #e4eaf4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.feedhead .fa {
	position: absolute;
	right: 70px;
	top: 25px;
	color: #999;
	cursor: pointer;
	font-size: 30px;
}
.feedhead .fa:hover {
	color: #2285ff;
}
.feedbackcore {
	width: 524px;
	height: 275px;
	display: inline-block;
	border-radius: 20px;
	border: 1px solid #ccc;
	margin-left: 40px;
	margin-top: 40px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
	color: #333;
	outline: none;
	font-family: "Microsoft Yahei";
	resize: none;
}
.feedbackpop button {
	width: 484px;
	height: 60px;
	line-height: 60px;
	background-color: #2285ff;
	color: #fff;
	text-align: center;
	border: none;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 26px;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
}
/*弹出反馈*/

/*发起聊天*/
.transreadychat {
	height: 100%;
	width: 100%;
	background-color: rgba(163,163,163,0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2000;
}
.readychatpop {
	height: 600px;
	width: 604px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -302px;
	margin-top: -300px;
	background-color: #fff;
	border-radius: 20px;
	
}
.readychathead {
	height: 80px;
	width: 100%;
	line-height: 80px;
	font-size: 26px;
	color: #333;
	position: relative;
	background-color: #e4eaf4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.readychathead .fa {
	position: absolute;
	right: 70px;
	top: 25px;
	color: #999;
	cursor: pointer;
	font-size: 30px;
}
.readychathead .fa:hover {
	color: #2285ff;
}
.switchchat {
	width: 100%;
	height: 80px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.switchchat .selectfriends {
	width: 302px;
	border-bottom: 1px solid #e5e5e5;
	height: 80px;
	text-align: center;
	line-height: 80px;
	float: left;
	font-size: 24px;
	color: #666;
	cursor: pointer;
	border-right: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.switchchat .selectchatrooms {
	width: 302px;
	border-bottom: 1px solid #e5e5e5;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 24px;
	color: #666;
	cursor: pointer;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.switchchat .selects {
	color: #1a7dff;
	border-bottom-color: #1a7dff;
}
.switchcontainerboss {
	height: 440px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
.sel1con {
	height: 440px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.sel2con {
	height: 440px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.selectallboss {
	height: 40px;
	width: 100%;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.selectallboss span {
	display: inline-block;
	height: 40px;
	width: auto;
	position: absolute;
	top: 0;
	color: #666;
	font-size: 20px;
	font-family: 'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
}
.selectallcon {
	height: 40px;
	width: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 40px;
	display: inline-block;
	position: relative;
}
.selectallcon input {
	width: 26px;
	height: 40px;
	position: absolute;
	left: 0;
	opacity: 0;
}
.selectallcon img {
	margin: 0 auto;
	margin-top: 7px;
}
.getfriendscontainer {
	height: 240px;
	width: 100%;
}
/*发起聊天*/
