* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 99.9%;
    width: 100%;
}
body {
    font-family:  'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
    background-image: url(../imgs/adelaidehills.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.clearfix {
	clear: both;
}
.subbody {
	position: relative;
    min-height: 600px;
    width: 100%;
}
.floatright {
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.floatright div:first-child{
	margin-bottom: 10px;
}
.floatright div:hover {
    color: #bfe3ae;
}
.floatright a {
    color: #fff;
    text-decoration: none;
}
.register {
	height: 360px;
    width: 380px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -180px;
}
.title {
	background-color: #e7f8fe;
    height: 60px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    line-height: 60px;
    text-align: center;
    position: relative;
}

.fa-times {
	position: absolute;
    right: 17px;
    top: 17px;
    font-size: 24px;
    color: #aeaeae;
    cursor: pointer;
}
.reg1container {
	width: 280px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.reg1container a {
	width: 100%;
    height: 40px;
    display: block;
    background-color: #a1a1a1;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    color: #fff;
    outline: 0;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
}

[name='phonenumber'] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}

[name="passnumber"] {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.mixpart {
	width: 100%;
    height: 40px;
}
.rightpart {
	height: 40px;
    width: 50%;
    float: right;
    margin-bottom: 15px;
}
.rightpart img  {
	height: 40px;
    width: 60%;
}
.changecode {
	height: 40px;
    width: 40%;
    margin: 0;
    display: inline-block;
    font-size: 9px;
    float: right;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}
.leftbig {
	height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 30px;
}
.phonecode {
	height: 40px;
    width: 70%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding-left: 10px;
}


button.getphone {
	height: 40px;
    width: 27%;
    float: right;
    border-radius: 5px;
    background-color: #aeaeae;
    line-height: 40px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    border: 1px solid #a1a1a1;
    outline: 0;
}
.popout {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88,105,82,0.5);
    z-index: 10;
    display: none;
}
.alertinfo {
	background-color: #fff;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    line-height: 200px;
    text-align: center;
    border-radius: 10px;
    color: #fc0404;
}