* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 99.9%;
    width: 100%;
}
body {
    font-family:  'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
    background-image: url(../imgs/adelaidehills.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.clearfix {
	clear: both;
}
.subbody {
	position: relative;
    min-height: 600px;
    width: 100%;
}
.floatright {
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.floatright div:first-child{
	margin-bottom: 10px;
}
.floatright div:hover {
    color: #bfe3ae;
}
.floatright a {
    color: #fff;
    text-decoration: none;
    
}
.register {
	height: 360px;
    width: 380px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -180px;
}

.switch {
    height: 60px;
    width: 100%;
}
.switch a {
	display: block;
    text-decoration: none;
    float: left;
    width: 190px;
    height: 60px;
    border-bottom: 1px solid #a1a1a1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    border-bottom-color: #a1a1a1;
    color: #197714;
}

.scan a{
    border-left: 1px solid #a1a1a1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.white{
    border-bottom-color: #fff !important;
}
#tab1 {
    height: 300px;
    width: 100%;
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#tab2 {
    height: 300px;
    width: 100%;
    display: none;
}
.tab1in {
    margin-top: 40px;
    width: 300px;
    margin: 0 auto;
    height: 240px;
}
.tab1in input[name='phonenumber'] {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.tab1in input[name='check'] {
    height: 35px;
    width: 50%;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
}
.tab1in input[type='password'] {
    height: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
}
.tab1in  button {
	width: 100%;
    height: 40px;
    background-color: #a1a1a1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    outline: none;
}
.checkcode {
	height: 35px;
    width: 50%;
    float: right;
    margin-bottom: 15px;
}
.checkcode img  {
	height: 35px;
    width: 60%;
}
.changecode {
	height: 35px;
    width: 38%;
    margin: 0;
    display: inline-block;
    font-size: 9px;
    float: right;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}
.tab2in {
    width: 300px;
    margin: 0 auto;
}
.tab2in img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.doubleswitch {
	width: 140px;
    height: 30px;
    margin: 0 auto;
}
.doubleswitch a {
	font-size: 9px;
    color: #000;
    text-decoration: none;
}
.doubleswitch a:hover {
    color: #2a7110;
}
.lefta {
	width: 70px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    border-right: 1px solid #a1a1a1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.righta {
	width: 70px;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 30px;
}

.centera {
	text-align: center;
    margin-top: 18px;
}
.centera a {
    font-size: 14px;
    color: #000;
    text-decoration: none; 
}
.centera a:hover {
    color: #2a7110;
}
.please {
	text-align: center;
    margin-top: 20px;
}
.popout {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88,105,82,0.5);
    z-index: 10;
    display: none;
}
.alertinfo {
	background-color: #fff;
    height: 200px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    line-height: 200px;
    text-align: center;
    border-radius: 10px;
    color: #fc0404;
}
