* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 99.9%;
    width: 100%;
}
ul,li {
    list-style-type: none;
}
body {
    min-height: 500px;
    font-family:  'Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial',sans-serif;
    background-image: url(../imgs/adelaidehills.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.containers {
    width: 380px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -190px;
    height: auto;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    -webkit-box-shadow: 0 0 4px 3px #b0b2b8;
    box-shadow: 0 0 4px 3px #b0b2b8;
    z-index: 50;
    
    display: block;
    
}
.containers h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#username {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #b0b2b8;
    border-radius: 3px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
#psw {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #b0b2b8;
    border-radius: 3px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.nickname {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #b0b2b8;
    border-radius: 3px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}
.third {
    display: none;
}
.submit {
    display: block;
    width: 80%;
    border-radius: 3px;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    font-family: 'Microsoft Yahei';
    background-color: dodgerblue;
    border: none;
    color: #fff;
}
.submit:hover {
    background-color: #067ff5;
}
.containers h4 {
    font-weight: normal;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 14px;
}
.containers h4 a {
    text-decoration: none;
    color: dodgerblue;
}
.containers input {
    height: 35px;
}          
.containers h1 {
    text-align: center;
    font-weight: normal;
}
.hide {
    display: none;
}       
.clearfix {
    clear: both;
}
/*以上为登录页面*/




/*以下为聊天界面*/
@media all and (max-width:1440px){
   .containermain {
        height: 100%;
        min-height: 500px;
        width: 1000px;
        background-color: #fff;
        margin: 0 auto;
        -webkit-box-shadow: 0px 0px 4px 5px #b0b2b8;
        box-shadow: 0px 0px 3px 3px #b0b2b8;
        border-radius: 10px;
        display: none;
        position: relative;
    } 
}

@media all and (min-width:1441px) {
    .containermain {
	    height: 700px;
        width: 1000px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        margin-left: -500px;
        top: 50%;
        margin-top: -350px;
        -webkit-box-shadow: 0px 0px 4px 5px #b0b2b8;
        box-shadow: 0px 0px 3px 3px #b0b2b8;
        border-radius: 10px;
        display: none;
        position: relative;
    }
}


.main-left {
	float: left;
    width: 35%;
    height: 100%;
    background-color: #e3f6e4;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.userdatas {
	width: 100%;
    height: 30%;
    background-color: transparent;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.datacenter {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    position: relative;
}

.floor1 {
    height: 30%;
    width: 100%;
    position: relative;
    
}
.userimg {
	display: block;
    width: 50px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}
.username {
	height: 50px;
    line-height: 50px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    color: #2e7806;
}
.floor1 .fa-bars {
    display: block;
    float: right;
    font-size: 22px;
    margin-top: 13px;
    color: #2e7806;
    cursor: pointer;
}

.floor1 .fa-bars:hover {
    color: #012504;
}

.infoslidemenu {
    height: 300px;
    width: 200px;
    position: absolute;
    background-color: #fff;
    z-index: 40;
    border-radius: 10px;
    display: none;
}

.infoslidemenu img {
	width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.infodata {
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.inforight {
    float: right;
}

.infoleft {
    float: left;
    height: 31px;
    line-height: 31px;
}

.infodataup {
    font-size: 20px;
}

.infodatabottom {
    margin-top: 10px;
}

.infodataup .fa-male {
    color: #067ff5;
}

.infodataup .fa-comment-o {
    font-size: 30px;
    cursor: pointer;
}


.slidedownmenu {
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    width: 200px;
    height: auto;
    left: 80px;
    top: 40px;
    z-index: 10;
    display: none;
}


.slidedownmenu li {
    border-bottom: 1px solid #c6dbc7;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 5px;
    line-height: 30px;
}

.slidedownmenu li:hover {
    color: #74b278;
}







.floor2 {
    background-color: #fff;
    height: 20%;
    border-radius: 8px;
    margin-top: 10%;
    position: relative;
}

.floor2 button {
    background-color: transparent;
    border: none;
    display: inline-block;
    height: 100%;
    outline: none;
    cursor: pointer;
}

.floor2 .fa-search {
    font-size: 23px;
    margin-left: 10px;
    color: #3f3f4f;
}

.floor2 input {
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    line-height: 28px;
    font-size: 16px;
    width: 85%;
    padding-left: 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


#tab1 {
    padding: 0;
    margin: 0;
}
#tab2 {
    padding: 0;
    margin: 0;
}
#tab3 {
    padding: 0;
    margin: 0;
}
.floor3 {
    height: 22px;
    width: 100%;
    position: absolute;
    top: 85%;
}
.icons {
    float: left;
    width: 33.3%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.iconcenter {
    border-left: 1px solid #2e7806;
    border-right: 1px solid #2e7806;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.floor3 .fa {
    color: #2e7806;
    font-size: 22px;
    cursor: pointer;
}

.floor3 .fa:hover {
    color: #012504;
}

.fa.greenactive {
    color: #012504;
}



.chatcontainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #5db52d;
    padding-left: 20px;
}

.chatcontainer img {
    width: 15%;
    display: block;
    float: left;
    border-radius: 5px;
}
.onlyname {
    height: 47px;
    width: 70%;
    line-height: 47px;
    float: left;
    margin-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.onlyfriendcontainer {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #5db52d;
}
.listsactive {
    background-color: #9ddda0;
}
.onlyfriendcontainer img {
    width: 15%;
    display: block;
    float: left;
    border-radius: 5px;
}
.onlygroupcontainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #5db52d;
    padding-left: 20px;
}
.onlygroupcontainer img {
    width: 15%;
    display: block;
    float: left;
    border-radius: 5px;
}
.placesholder {
	width: 100%;
    height: 70%;
    padding-top: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.matchtab2 .placesholder{
    position: absolute;
    top: 0;
}
.firstscreen {
    display: block;
    width: 200px;
    margin: 0 auto;
    
}

.headername {
    position: absolute;
    width: 50%;
    height: 100%;
    font-size: 20px;
    line-height: 51.5px;
    text-align: center;
    left: 50%;
    margin-left: -25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.receiveheader {
    height: 50px;
    width: 90%;
    position: absolute;
    left: 5%;
    border-bottom: 1px solid #b2b7b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.receiveheader .fa-cog {
	height: 50px;
    font-size: 25px;
    display: block;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}



.justtowatch {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    
    background-color: #f8fbec;
}

.justtowatch button {
    width: 100%;
    height: 40px;
    background-color: #5edf65;
    border: 1px solid #5edf65;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

.justtowatch img {
    display: block;
    width: 60%;
    margin: 0 auto;
}




.groupcontainer {
    height: 80px;
    border-bottom: 1px solid #5db52d;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.groupinfo {
    height: 60px;
    width: 90%;
    position: absolute;
    top: 10px;
    left: 5%;
}
.groupinfo-left {
    float: left;
    width: 20%;
    height: 100%;
}

.groupinfo-right {
    float: left;
    width: 80%;
    height: 100%;
}

.groupinfo-left img {
    width: 100%;
    border-radius: 8px;
    display: block;
}
.groupifrightcontainer {
    width: 95%;
    height: 100%;
    margin-left: 5%;
}
.grouptop {
    height: 30px;
    line-height: 30px;
}
.grouptopleft {
    float: left;
    font-size: 15px;
    color: #872f04;
    white-space: nowrap;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.grouptopright {
    float: right;
    font-size: 14px;
    color: #B29200;
}
.groupbottom {
    height: 30px;
    line-height: 30px;
}
.groupbottomleft {
    float: left;
    width: 190px;
    color: #B20084;
    font-size: 12px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.groupbottomright {
    float: right;
}
.lists .fa-bell-slash {
    color: #067ff5;
}

.slideinfo {
    position: absolute;
    width: 650px;
    background-color: #f8fbec;
    height: 200px;
    padding: 20px;
    border-bottom: 1px solid #b2b7b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 30;
    display: none;
    top: 52px;
}

























.lists {
	width: 100%;
    height: 70%;
    border-top: 1px solid #5db52d;
}
.groupinner {
    width: 100%;
    height: auto;
}
.groupself {
	height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: #787878;
    font-size: 14px;
    border-bottom: 1px solid #5db52d;
}




.listscontronller {
	height: 80px;
    position: absolute;
    width: 120px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 90;
    display: none;
}
.contronller {
	height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    font-size: 12px;
}
.contronller:hover {
    background-color: #f1f1f1;
    
}
.controlup {
    border-bottom: 1px solid #f1f1f1;
}

/*以上聊天左边*/

.main-right {
	float: left;
    width: 65%;
    height: 100%;
    background-color: #f8fbec;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.getmessage {
	
    width: 100%;
    height: 100%;
}

/*弹出层*/
.transparent {
	position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(51,67,45,0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    display: none;
}
.getlistspop {
    position: absolute;
    width: 360px;
    height: 550px;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -275px;
    background-color: #fff;
    border-radius: 10px;
}
.pophead {
	width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #e7f8fe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.pophead .fa-times {
    position: absolute;
    right: 17px;
    top: 10px;
    font-size: 20px;
    color: #aeaeae;
    cursor: pointer;
}
.selector {
	width: 100%;
    height: 40px;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.selector a {
	text-decoration: none;
    color: #000;
}
.contab1 {
	height: 40px;
    width: 50%;
    float: left;
}
.contab2 {
	height: 40px;
    width: 50%;
    float: right;
}
.goleft {
	height: 100%;
    float: left;
    width: 70%;
    text-align: center;
    line-height: 40px;
}
.goright {
	height: 100%;
    float: right;
    width: 70%;
    text-align: center;
    line-height: 40px;
}
#tabswitch1 {
    height: 500px;
    width: 100%;
}
#tabswitch2 {
    height: 420px;
    width: 100%;
    display: none;
    border-bottom: 1px solid #d7d7d7;
}
.switch1inner {
	width: 100%;
    height: 380px;
    border-bottom: 1px solid #d7d7d7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.switch2inner {
	width: 100%;
    height: 420px;
}
.confirm1 {
	width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    background-color: #d7d7d7;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #d7d7d7;
    display: block;
}

















/*弹出层*/





/*弹出层1*/



.transparent1 {
	position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(51,67,45,0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    display: none;
}
.getlistspop1 {
    position: absolute;
    width: 360px;
    height: 550px;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -275px;
    background-color: #fff;
    border-radius: 10px;
}
.pophead1 {
	width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #e7f8fe;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.pophead1 .fa-times {
    position: absolute;
    right: 17px;
    top: 10px;
    font-size: 20px;
    color: #aeaeae;
    cursor: pointer;
}
.contab3 {
	height: 60px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
}
.contab3 .fa-search{
	font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}
.contab3 input {
    height: 25px;
    width: 280px;
    position: absolute;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.transferselect {
	height: 370px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
}
.confirm2 {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    background-color: #d7d7d7;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #d7d7d7;
    display: block;
}


















/*弹出层1*/





.receivemessage {
	height: 75%;
    width: 100%;
}

.matchtab3 {
	width: 100%;
    display: none;
    height: 100%;
}

.matchtab2 {
	width: 100%;
    display: none;
    height: 100%;
    position: relative;
}
.matchtab1 {
	width: 100%;
    display: none;
    height: 100%;
}



.justname {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}


.specialcontainerouter {
    height: 100%;
    width: 100%;
}

.matchtab2 .receiveheader {
	display: none;
}
.matchtab2 .personalcontainer {
	
    
    max-height: 100%;
}
.specialinfo1 {
    width: 100%;
    height: auto;
}

.exists {
	height: 85%;
    width: 100%;
    position: absolute;
    top: 50px;
}
.everychatroom {
    width: 100%;
    height: 100%;
}


.headers {
	width: 100%;
    height: 50px;
    overflow: hidden;
}

















.chatroominfo {
    display: block;
}


.chatroommanager {
	position: absolute;
    right: 70px;
    top: 30px;
    display: none;
    height: 100px;
    width: 160px;
    background-color: #f7fdff;
    z-index: 300;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.managers {
    height: 33.3%;
    line-height: 33.3px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}
.managers:hover {
    color: #371e6a;
}
.manager1 {
    border-bottom: 1px solid #d7d7d7;
}
.manager2 {
    border-bottom: 1px solid #d7d7d7;
}
.chatroommanager .fa {
	font-size: 16px;
}



.mainmessagecontainer1 {
    width: 100%;
    height: 100%;
    position: relative;
}




.matchtab3 .justtowatch {
	margin-top: 150px;
}











/*待修改*/
.messagecontainer {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
.leftpic {
    width: 50px;
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-right: 15px;
}
.nickname1 {
    width: 85%;
    float: left;
}
.messagecontent1 {
    margin-top: 10px;
	float: left;
    background-color: #a4dfa4;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a4dfa4;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    position: relative;
    max-width: 65%;
    word-wrap: break-word;
}
.messagecontent1:after {
    content: '';
    position: absolute;
    left: -16px;
    top: 17px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #a4dfa4;
}

.clearmessages {
    height: 40px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    display: none;
    
    border: 1px solid #b2b7b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 160;
}
.messagecontrol {
	height: 100px;
    width: 50px;
    position: fixed;
    background-color: #f7fdff;
    border-radius: 10px;
    display: none;
    z-index: 201;
    border: 1px solid #d7d7d7;
}
.message1 {
	text-align: center;
    height: 33.3%;
    width: 100%;
    line-height: 33.3px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
.messagebor {
    border-bottom: 1px solid #d7d7d7;
}






















/*以上聊天右边*/




/*发送消息块*/
.sendmessage {
	height: 25%;
    width: 100%;
    border-top: 1px solid #b2b7b2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}

.sendicons {
	margin-top: 10px;
    margin-bottom: 10px;
}
.sendicons li {
	float: left;
    margin-left: 20px;
}
.sendicons .fa {
	font-size: 22px;
    cursor: pointer;
}
.writein {
    height: 45%;
    width: 95%;
    margin-left: 2.5%;
    resize: none;
    border: none;
    background-color: #f8fbec;
    outline: none;
    font-size: 16px;
}
.send {
    cursor: pointer;
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 20px;
    border: 1px solid #b2b7b2;
    border-radius: 5px;
    background-color: #f8fbec;
    
}
