<!doctype html>
<html lang="zh">
    <head>
        <title>Final Version</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Font-Awesome-master/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/forgetpwd.css">
		<link rel="icon shotcut" href="imgs/linklogo.png">
		<script src="./js/axios.js"></script>
        <!-- HTML5 element -->
        <script src="Config_JS/browser-polyfill.min.js"></script>
		<script src="js/vue.js"></script>
    </head>
    <body>
        <div class="subbody" id="subBody">
            <header>
				<img src="imgs/index-logo.png">
				<div class="headerName">惠众通享</div>
				<div class="clearfix"></div>
			</header>
			
			<div class="regContainer">
				<article><div>忘记密码</div><a href="index.html"><i class="fa fa-times"></i></a></article>
				<div class="inputContainer">
					<div class="errOuter">
						<div v-show="errorshow"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;{{ errormessage }}</div>
					</div>
					<div class="firstinput samesize">
						<input @change="checkphone()" v-model="firstinputval" type="text" placeholder="请输入手机号码" name="phonenumber"><i @click="clearinput1" v-if="rightorwrong2" class="fa fa-times"></i><i v-if="rightorwrong1" class="fa fa-check"></i>
					</div>
					<div class="secondinput samesize">
						<input @change="checkvalidate()" type="text" v-model="secondinputval" placeholder="请输入图片验证码" name="piccheck"><img :src="validatecode"><div @click="nextpic()" class="nextpic">换一张</div>
					</div>
					<div class="thirdinput samesize2">
						<div class="thirdcon">
							<input @change="checkphonecode" type="text" v-model="thirdinputval" placeholder="请输入手机验证码" name="phonevalidate"><i v-if="rightorwrong4" class="fa fa-times"></i><i v-if="rightorwrong3" class="fa fa-check"></i>
						</div>
						<button type="button" :class="{ btnable : btncolorswitch }" @click="sendphonevalidate" :disabled="ableornot1"><span v-text="btntext"></span><span v-show="countshow">(&nbsp;{{ countnumber }}&nbsp;</span><span v-show="countshow">s&nbsp;)</span></button>
					</div>
				</div>
				
				<div class="userinfo">
					<div @click="useragreeinfo" class="check1">
						<i v-if="rightorwrong5" class="fa fa-square-o"></i>
						<i v-else class="fa fa-check-square"></i>
					</div>
					<div class="linkcon">阅读并同意<a target="_blank" href="javascript:;">《众享用户注册协议》&nbsp;《隐私政策》</a></div>
				</div>
				
				<button @click="nextstepfinal" type="button" class="nextstep" :class="{btnable1:btncolorswitch2}" :disabled="ableornot2">
					下一步
				</button>
					
			</div>
			
			<footer>
				<div class="footer1">
					<i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><span>iPhone版下载</span></a>
				</div>
				<div class="clearfix"></div>
				<div class="footer2">
					<i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><span>Android版下载</span></a>
				</div>
				<div class="clearfix"></div>
			</footer>
         
        </div>
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/forgetpwd.js"></script>
    </body>
</html>