<!doctype html>
<html lang="zh">
    <head>
        <title>Final Version</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Font-Awesome-master/css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/forgetpwd_1.css">
		<link rel="icon shotcut" href="imgs/linklogo.png">
		<script src="./js/axios.js"></script>
        <!-- HTML5 element -->
        <script src="Config_JS/browser-polyfill.min.js"></script>
		<script src="js/vue.js"></script>
    </head>
    <body>
        <div class="subbody" id="subBody">
            <header>
				<img src="imgs/index-logo.png">
				<div class="headerName">惠众通享</div>
				<div class="clearfix"></div>
			</header>
			
			<div class="setNick">
				<article><div>修改密码</div><a href="index.html"><i class="fa fa-times"></i></a></article>
				<div class="inputContainer">
					<div class="errOuter">
						<div v-if="errshow"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;{{errmsg}}
						</div>
					</div>
					<div class="firstinput samesize">
						<input @change="checkpsw1()" v-model="firstinputval"  placeholder="请输入密码" type="password" name="psw" maxlength="20"><i @click="clearinput1" v-if="rightorwrong2" class="fa fa-times"></i><i v-if="rightorwrong1" class="fa fa-check"></i>
					</div>
					<div class="placeholder1">
						<div>请使用字母、数字和符号两种及以上的组合,6-20个字符</div>
					</div>
					<div class="secondinput samesize">
						<input @change="checkpsw2()" v-model="secondinputval"  placeholder="请再次输入密码" type="password" name="psw2" maxlength="20"><i @click="clearinput2" v-if="rightorwrong4" class="fa fa-times"></i><i v-if="rightorwrong3" class="fa fa-check"></i>
					</div>
					
				</div>
				
				<button @click="nextstepfinal" type="button" class="nextstep" :class="{btnable:btncolorswitch2}" :disabled="ableornot2">
					注册
				</button>
					
			</div>
			
			<footer>
				<div class="footer1">
					<i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://itunes.apple.com/cn/app/%E6%83%A0%E4%BC%97%E9%80%9A%E4%BA%AB/id1286613936?mt=8"><span>iPhone版下载</span></a>
				</div>
				<div class="clearfix"></div>
				<div class="footer2">
					<i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://api.zhongxiangim.com/im/apk/download"><span>Android版下载</span></a>
				</div>
				<div class="clearfix"></div>
			</footer>
         
        </div>
        
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/forgetpwd_1.js"></script>
		<script src="js/rem_js.js"></script>
    </body>
</html>