<!doctype html>
<html lang="zh">
    <head>
        <title>Final Version</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Font-Awesome-master/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/index.css">
		<link rel="icon shotcut" href="imgs/linklogo.png">
		<script src="./js/axios.js"></script>
        <!-- HTML5 element -->
        <script src="Config_JS/browser-polyfill.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="Config_JS/webim.config.js"></script>
        <script src="Config_JS/strophe-1.2.8.min.js"></script>
        <script src="Config_JS/websdk-1.4.12.js"></script>
    </head>
    <body>
        <div class="subbody" id="subBody">
            <header>
				<img src="imgs/index-logo.png">
				<div class="headerName">惠众通享</div>
				<div class="clearfix"></div>
			</header>
			
			<div class="setNick">
				<article><div @click="switch6()" class="head1" :class="{headeractive:headswitch1}">账户登录</div><div @click="switch8()" :class="{headeractive:headswitch2}" class="head2">扫码登录</div></article>
				
				<div v-if="switchheader" class="tab1">
					
					<div class="inputContainer">
						<div class="errOuter">
							<div v-show="errorshow"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;{{ errormessage }}</div>
						</div>
						<div class="firstinput samesize">
							<input @change="checkphone()" v-model="firstinputval" type="text" placeholder="请输入手机号" name="psw" maxlength="20"><i @click="clearinput1" v-if="rightorwrong2" class="fa fa-times"></i><i v-if="rightorwrong1" class="fa fa-check"></i>
						</div>

						<div class="secondinput samesize">
							<input @change="checkpsw2()" v-model="secondinputval" type="password" placeholder="请输入密码" name="psw2" maxlength="20"><i @click="clearinput2" v-if="rightorwrong4" class="fa fa-times"></i><i v-if="rightorwrong3" class="fa fa-check"></i>
						</div>
						<div class="placeholder2">
							<a class="aouter1" href="forgetpwd.html">忘记密码&nbsp;?</a>
						</div>
						<button @click="nextstepfinal" type="button" class="nextstep" :class="{btnable:btncolorswitch2}" :disabled="ableornot2">
						登录
						</button>
						<div class="placeholder3">
							<a class="aouter1" href="forgetpwd.html">还没有账号&nbsp;?&nbsp;立即注册&nbsp;&raquo;</a>
						</div>
					
					</div>

					
					
					
				</div><!--tab1-->
				<div v-else class="tab2">
					<div class="twodimention">
						<img src="imgs/twodiension.PNG">
					</div>
					<div class="please">请使用众享手机版扫描二维码登录</div>
					<div class="bot1"><a href="register.html">立即注册</a></div>
				</div>
				
					
			</div>
			
			<footer>
				<div class="footer1">
					<i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><span>iPhone版下载</span></a>
				</div>
				<div class="clearfix"></div>
				<div class="footer2">
					<i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><span>Android版下载</span></a>
				</div>
				<div class="clearfix"></div>
			</footer>
         
        </div>
        
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>