<!doctype html>
<html lang="zh">
    <head>
        <title>Final Version</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/vue.js"></script>
        <link rel="stylesheet" href="Font-Awesome-master/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/jquery.scrollbar.css">
        <link rel="stylesheet" href="css/talkingstyle.css">
        <link rel="stylesheet" href="css/sortstyle.css">
        <style>
            .scrollbar-macosx {
                overflow: auto;
                max-height: 100%;
                max-width: 100%;
            }
        </style>
        <!-- HTML5 element -->
        <script src="Config_JS/browser-polyfill.min.js"></script>
    </head>
    <body>
        <div class="containers">
                <h1>环信测试</h1>
                <h2>登录</h2>
                <input id="username" type="text" placeholder="用户名">
                <br>
                <input id="psw" type="password" placeholder="密码">
                <br>
                <input class="nickname" type="text" placeholder="昵称">
                <br class="third">
                <button class="submit" type="submit">登录</button>
                <h4 class="h1">没有账号,<a class="a1" href="javascript:;">现在注册</a></h4>
                <h4 class="h2 hide">已有账号,<a class="a2" href="javascript:;">登录</a></h4>
        </div>
        <div id="firstvue" class="containermain" @click="clear">
            
            <div class="changegroupinfo">
                
                <input type="text" class="changegroup1">
                <input type="text" class="changegroup2">
                <button type="button">确定</button>
            </div>
            
            <div class="clearmessages">清屏</div>
            
            
            <div class="listscontronller">
                <div class="contronller controlup">
                    置顶
                </div>
                <div class="contronller">
                    删除会话
                </div>
            </div>
            
            <div class="transparent1">
                <div class="getlistspop1">
                    <div class="pophead1">转发
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="contab3">
                        <i class="fa fa-search"></i>
                        <input type="search" name="transferto" placeholder="搜索">
                    </div>
                    <div class="transferselect scrollbar-macosx">
                        
                        <div class="groupcontainer2">
                            <template v-for="index in list">
                                <div :data-id="index.roomId" :id="index.name" class="onlygroupcontainer" ><input class="groupcheck" type="checkbox" :value="index.roomId" @change="check()"  v-model="list2"><img src="imgs/group-1.jpg"><div class="onlyname">{{ index.name }}</div><div class="clearfix"></div></div>
                            </template> 
                            
                            
                        </div>
                        <div class="friendcontainer2">
                        </div>
                    </div>
                    <button class="confirm2" disabled>确定<span v-if="showorhide()">({{ list2.length }})</span></button>
                </div>
            </div>
            
            
            
            <div class="transparent2">
                <div class="getlistspop1-2">
                    <div class="pophead1-2">添加会话成员
                        <i class="fa fa-times" @click="closetrans2"></i>
                    </div>
                    <div class="contab3-2">
                        <i class="fa fa-search"></i>
                        <input type="search" name="transferto" placeholder="搜索">
                    </div>
                    <div class="transferselect-2 scrollbar-macosx">
                        
                        
                        <div class="friendcontainer2-2">
                            
                            <div class="selectallcontainer1">
                                <input type="checkbox" name="selectall1" class="selectall1" >&nbsp;&nbsp;&nbsp;<span>全选</span>
                            </div>
                            <template v-for="onlyname in list4">
                                <div :id="onlyname" class="onlygroupcontainer" ><input class="groupcheck" type="checkbox" :value="onlyname"   v-model="list2"><img src="imgs/group-1.jpg"><div class="onlyname">{{ onlyname }}</div><div class="clearfix"></div></div>
                            </template>
                        </div>
                    </div>
                    <button class="confirm2-2" disabled>确定<span v-if="showorhide2()">({{ list4.length }})</span></button>
                </div>
            </div>
            
            
            
            
            
            <div class="transparent">
                <div class="getlistspop">
                    <div class="pophead">发起聊天
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="selector">
                        <div class="contab1">
                            <a href="#tabswitch1">
                                <div class="goright">选择好友
                                </div>
                                <div class="clearfix"></div>
                            </a> 
                        </div>
                        <div class="contab2">
                            <a href="#tabswitch2">
                                <div class="goleft">选择群聊
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tabswitchcontainer">
                        <div id="tabswitch1">
                            <div class="switch1inner scrollbar-macosx">
                            </div>
                            <button disabled class="confirm1">确定</button>
                        </div>
                        <div id="tabswitch2">
                            <div class="switch2inner scrollbar-macosx">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="main-left">
                <div class="userdatas">
                    <div class="datacenter">
                        <div class="floor1">
                            <img class="userimg" src="imgs/brmaster-face.jpg">
                            <div class="infoslidemenu">
                                <img src="imgs/brmaster-face.jpg">
                                <div class="infodata">
                                    <div class="infodataup">
                                        <div class="infoleft">momoclo&nbsp;&nbsp;<i class="fa fa-male"></i></div>
                                        <div class="inforight">
                                            <i class="fa fa-comment-o"></i>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="infodatabottom">
                                        备注
                                    </div>
                                </div>
                            </div><!--infoslidemenu-->
                            <div class="username">罗宾汉</div>
                            <i @click="listGroups3()" class="fa fa-bars"></i>
                            <div class="slidedownmenu">
                                <ul>
                                    <li><i class="fa fa-comment-o"></i>&nbsp;发起聊天</li>
                                    <li><i class="fa fa-envelope-o"></i>&nbsp;意见反馈</li>
                                    <li><i class="fa fa-power-off"></i>&nbsp;退出</li>
                                </ul>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                        <div class="floor2">
                            <button type="button"><i class="fa fa-search"></i></button>
                            <input type="search" placeholder="搜索" >
                        </div>
                        <div class="floor3">
                            <a href="#tab1"><div class=" icons1 icons"><i class="fa fa-commenting greenactive"></i></div></a>
                            <a href="#tab2"><div class="icons iconcenter"><i class="fa fa-book"></i></div></a>
                            <a href="#tab3"><div @click="listGroups3(),getRoasters1()" class="icons3 icons"><i class="fa fa-users"></i></div></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="lists scrollbar-macosx">
                    <div id="tab1">
                        <div class="allchatmessages">
                            
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="chatrooms"></div>
                    </div>
                    <div id="tab3">
                        <div class="groups">
                            <div class="groupself">群组</div>
                            <div class="groupinner">
                                
                                <template v-for="list2son in list">
                                    
                                    <div  v-on:click="queryroommember1($event),querygroupinfo1()" :data-id="list2son.roomId" :id="list2son.name" class="onlygroupcontainer"><img src="imgs/group-1.jpg"><div class="onlyname"> {{ list2son.name }}</div><div class="clearfix"></div></div>
                                    
                                </template>
                                
                            </div>
                        </div>
                        <div class="friends">
                            
                            <div class="sort_box">
                                <template v-for="fname in list5">
                                    <div class="sort_list">
                                        <div class="num_logo">
                                            <img src="imgs/zhaoyun-1.jpg">
                                        </div>
                                        <div class="num_name">{{fname}}</div>
                                    </div>
                                </template>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-right">
                <div class="receivemessage">
                    
                    <div v-show="showinfo" class="peoplesinfo">
                        <img class="showinfopic" src="imgs/zhaoyun-1.jpg">
                        <div class="showinfoname"> {{ cardname }} </div>
                    </div>
                    
                    <div class="matchtab1">
                        
                        <div class="groupmanager1">
                            <div class="gmanager1 gmanagers">
                                <i class="fa fa-users"></i>&nbsp;管理群成员
                            </div>
                            <div class="gmanager2 gmanagers">
                                <i class="fa fa-pencil"></i>&nbsp;修改群信息
                            </div>
                            <div class="gmanager3 gmanagers">
                                <i class="fa fa-lock"></i>&nbsp;群禁言
                            </div>
                        </div><!--点击弹出来-->
                        
                        
                        
                        
                        
                        <div class="slideinfo scrollbar-macosx">
                            <div class="slidecontainer">
                                <div class="close1">
                                    <i @click="closethis1" class="fa fa-times"></i>
                                </div>
                                <div class="clearfix"></div>
                                <div class="tab1peoples">
                                    <div :data-id="groupmaster" class="groupmaster" @click.stop="showinformation($event)">
                                        <img class="groupmaster-pic" src="imgs/zhaoyun-1.jpg">
                                            <div class="groupmaster-name">{{ groupmaster }}
                                            </div>
                                    </div>
                                    <template v-for="name1 in list3">
                                        
                                        <div :data-id="name1" class="slidepeople" @click.stop="showinformation($event)">
                                            <img class="slidepic" src="imgs/zhaoyun-1.jpg">
                                            <div class="slidename">{{name1}}
                                            </div>
                                        </div>
                                    </template>
                                    <div class="plushumans" @click="addpeople2()">
                                       <img src="imgs/plus.jpg"> 
                                    </div>
                                    
                                    <div @click="deletepeople()" v-show="ifornot" class="deletehumans">
                                        <img src="imgs/minutes.jpg">
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="placesholder">
                            
                        </div>
                        <div class="specialcontainerouter">
                            <div class="headers">
                            </div>
                            <div class="exists scrollbar-macosx">
                            </div>
                        </div><!--specialcontainerouter-->
                        
                        
                        
                    </div><!--match1-->
                    <div class="matchtab2">
                        
                        <div class="chatroommanager">
                            <div class="manager1 managers">
                                <i class="fa fa-users"></i>&nbsp;管理聊天室成员
                            </div>
                            <div class="manager2 managers">
                                <i class="fa fa-pencil"></i>&nbsp;修改聊天室公告
                            </div>
                            <div class="manager3 managers">
                                <i class="fa fa-lock"></i>&nbsp;聊天室禁言
                            </div>
                        </div><!--点击弹出来-->
                        
                        <div class="placesholder">
                            
                        </div>
                        <div class="specialcontainerouter">
                            <div class="headers">
                            </div>
                            <div class="exists scrollbar-macosx">
                            </div>
                        </div><!--specialcontainerouter-->
                        
                    </div><!--match2-->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="matchtab3">
                        
                        
                        <div class="placesholder"></div>
                        
                        <div class="getmessage">
                        </div><!--getmessage-->
                        
                    </div><!--match3-->
                </div><!--receivemessage-->
                <div class="sendmessage">
                    <div v-show="emojishow" class="emojicontainer">
                        
                            
                       
                    </div>
                    <ul class="sendicons">
                        <li @click.stop="emojishow =!emojishow"><i class="fa fa-smile-o"></i></li>
                        <li><i class="fa fa-folder-o"></i></li>
                        <div class="clearfix"></div>
                    </ul>   
                    <textarea class="writein scrollbar-macosx"></textarea>
                    <div class="sendbutton">
                        <button  class="send" type="button">发送
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    
                </div><!--sendmessage-->
            </div>
            <div class="clearfix"></div>
        </div><!--containermain-->
        
        
        
        
        
        
        
        
        
        
        
        <!--[if lte IE 9]>
        <script src="swfupload/swfupload.min.js"></script>
        <![endif]-->
        <script src="js/jquery-1.12.4.min.js"></script>
        
        <script src="js/importvue.js"></script>
        <script src="Config_JS/webim.config.js"></script>
        <script src="Config_JS/strophe-1.2.8.min.js"></script>
        <script src="Config_JS/websdk-1.4.12.js"></script>
        <script src="Config_JS/adapter.js"></script>
        <script src="Config_JS/webrtc-1.4.12.js"></script>
        
        <script src="js/jquery.scrollbar.min.js"></script>
        <script>
            $(function(){
                $('.scrollbar-macosx').scrollbar();
            });
        </script>
        <script src="js/emoji.js"></script>
        <script src="js/webim.js"></script>
        <script src="js/jquery.charfirst.pinyin.js"></script>
        <script src="js/sort.js"></script>
        
    </body>
</html>