<!doctype html>
<html lang="zh">
    <head>
        <title>惠众通享</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Font-Awesome-master/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/register_1.css">
		<link rel="icon shotcut" href="imgs/linklogo.png">
		<script src="./js/axios.js"></script>
		<script src="js/vue.js"></script>
    </head>
    <body>
        <div class="subbody" id="subBody">
            <header>
				<img src="imgs/index-logo.png">
				<div class="headerName">惠众通享</div>
				<div class="clearfix"></div>
			</header>
			<div class="setNick">
				<article><div>设置昵称</div><a href="index.html"><i class="fa fa-times"></i></a></article>
				<div class="inputContainer">
					<div class="errOuter"></div>
					<div class="firstinput samesize">
						<input @change="checknick()" v-model="firstinputval" type="text" placeholder="请输入昵称" name="nick" maxlength="20"><i @click="clearinput1" v-if="rightorwrong2" class="fa fa-times"></i><i v-if="rightorwrong1" class="fa fa-check"></i>
					</div>
					<div class="placeholder1">
						<div>4-20个字符，首字符为中文/英文</div>
					</div>
					<div class="secondinput samesize">
						<select @change="select" v-model="secondinputval">
							<option value="3">请选择性别</option>
							<option value="1">男</option>
							<option value="0">女</option>
						</select>
						<i class="fa fa-caret-down"></i>
					</div>
				</div>
				<button @click="nextstepfinal" type="button" class="nextstep" :class="{btnable:btncolorswitch2}" :disabled="ableornot2">下一步</button>
			</div>
			<footer>
				<div class="footer1">
					<i class="fa fa-apple"></i>&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://itunes.apple.com/cn/app/%E6%83%A0%E4%BC%97%E9%80%9A%E4%BA%AB/id1286613936?mt=8"><span>iPhone版下载</span></a>
				</div>
				<div class="clearfix"></div>
				<div class="footer2">
					<i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://api.zhongxiangim.com/im/apk/download"><span>Android版下载</span></a>
				</div>
				<div class="clearfix"></div>
			</footer>
        </div>
        <script src="js/jquery-1.12.4.min.js"></script>
        <script src="js/register_1.js"></script>
    </body>
</html>